@model BackendOdontoApp.API.Models.Data.Entities.DocumentType

<div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <input asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Abreviature" class="control-label"></label>
    <input asp-for="Abreviature" class="form-control" />
    <span asp-validation-for="Abreviature" class="text-danger"></span>
</div>

